title {
    padding: 43px;
    margin: 43px;
    text-indent: 43px;
}

body {
    background: #000000;
    color: #ffffff;

}

a {
    color: #129e00;
    text-decoration: none;
    text-align: right;
    margin: 20px;

}

a:hover {
    color: #fbff1c;
}

ul {
    list-style-type: none;
    background-color: #333333;
    text-decoration: none;
    text-align: right;
    padding: 10px;
  }

  li {
      display: inline;
      padding: 20px;
      font-size: 24px;
      
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .title {
      margin-left: 4em;
  }