body {
    background: #000000;
    color: #ffffff;

}

a {
    color: #129e00;

}

a:hover {
    color: #fbff1c;
}

ul {
    list-style-type: none;
    background-color: #333333;
  }

  li {
      display: inline;
      padding: 16px;
  }